:root {
  --upload-image-button-padding: 16px;
}

.image-section {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.image-section-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: overlay;
  overflow-x: hidden;
}

.border-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5ch;
}

.drop-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--background);
  color: var(--text);
  border: 5px dashed var(--text);
  border-radius: var(--section-radius);
  opacity: 0.9;
}

.image-preview {
  max-width: 100%;
  max-height: calc(100vh - 64px);
  transition: all 150ms ease-in-out 0s;
}

.upload-image-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: var(--upload-image-button-padding);
  background-color: var(--primary);
  color: var(--text);
  border-radius: var(--button-radius);
  border: none;
}

.upload-image-button:hover {
  background-color: var(--background);
}

.file-input-hidden {
  position: 'absolute';
  opacity: 0;
  height: 0.1px;
  width: 0.1px;
  overflow: hidden;
  z-index: -1;
}