.edit-buttons-section {
  display: flex;
  flex-direction: column;
  gap: var(--app-gap);
  background-color: transparent;

  border-radius: var(--button-radius);
  overflow-x: visible;
  overflow-y: auto;
  z-index: 1;

  position: absolute;
  top: var(--app-gap);
  left: var(--app-gap);
}

.edit-buttons-section::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.edit-button-topbar {
  justify-content: start;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--app-gap);
}

@media screen and (max-width: 768px) {
  .edit-button-topbar-button {
    height: var(--edit-button-section-width);
  }

  .edit-buttons-section,
  .sidebar {
    flex-direction: row;
    width: calc(100% - 2 * var(--app-gap));
  }

  .edit-buttons-section {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .edit-buttons-section::-webkit-scrollbar {
    height: 5px;
    display: none;
  }
}