:root {
  --edit-button-section-width: 50px;
}

.section,
.edit-image-section,
.topbar,
.sidebar {
  display: flex;
}

.section {
  flex-direction: column; 
}

.edit-image-section {
  flex-direction: row;
}

.edit-buttons-section {
  width: var(--edit-button-section-width);
}

.topbar {
  flex-direction: row;
}
.topbar-button {
  width: 100%;
}

.sidebar {
  flex-direction: column;
}

.sidebar-button {
  height: var(--edit-button-section-width);
}
