.custom-image-size-dialog {
  padding: var(--container-padding);
}

.custom-image-size-inputs {
  display: flex;
  flex-direction: column;
  gap: var(--app-gap);
}

.custom-image-size-input {
  display: grid;
  grid-template-columns: 0.15fr 0.5fr 0.25fr;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.custom-image-size-input-input {
  border: none;
  background-color: var(--background);
  color: var(--text);
  padding: 1rem;
  border-radius: var(--container-radius);
}

.custom-image-size-input-unit {
  border: none;
  background-color: var(--background);
  color: var(--text);
  padding: 1rem;
  border-radius: var(--container-radius);
}