.edit-button {
  height: var(--edit-button-section-width);
  background-color: var(--secondary);
  color: var(--text);
  border-radius: var(--edit-button-radius);
  cursor: pointer;
  border: none;

  transition: background-color 175ms;
}

.edit-button:hover{
  background-color: var(--secondary-hover-dark);
}

.edit-button:disabled {
  background-color: var(--secondary-disabled);
  color: var(--text-disabled);
  cursor: not-allowed;
}