:root {
  --cropper-resizer-height: 10px;
  --cropper-resizer-width: 10px;
  --cropper-resizer-position: -5px;
}

.crop-dialog {
  width: clamp(500px, 80vw, 95vw);
  touch-action: none;
}

.crop-dialog-body {
  height: calc(100vh - 121px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  padding: var(--dialog-padding);
}

.crop-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-top-right-radius: var(--container-radius);
  border-top-left-radius: var(--container-radius);
}

.crop-image-preview {
  /* max-width: 100%;
  max-height: calc(100vh - 120px - (var(--dialog-padding) * 2)); */
  /* transition: all 150ms ease-in-out 0s; */
  min-width: 50px;
  min-height: 50px;
  cursor: move;
  position: absolute;
}

.cropper {
  max-width: 100%;
  max-height: 100%;
  min-width: 50px;
  min-height: 50px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  z-index: 1;
  cursor: move;
}

.cropper-resizer {
  position: absolute;
  width: var(--cropper-resizer-width);
  height: var(--cropper-resizer-height);
  background-color: var(--accent);
  border: 2px solid black;
  border-radius: 50%;
  z-index: 2;
}

.cropper-resizer.ne {
  cursor: ne-resize;
  top: var(--cropper-resizer-position);
  right: var(--cropper-resizer-position);
}

.cropper-resizer.nw {
  cursor: nw-resize;
  top: var(--cropper-resizer-position);
  left: var(--cropper-resizer-position);
}

.cropper-resizer.se {
  cursor: se-resize;
  bottom: var(--cropper-resizer-position);
  right: var(--cropper-resizer-position);
}

.cropper-resizer.sw {
  cursor: sw-resize;
  bottom: var(--cropper-resizer-position);
  left: var(--cropper-resizer-position);
}

.crop-dialog-buttons {
  z-index: 1;
}

@media (pointer: coarse) {
  :root {
    --cropper-resizer-height: 20px;
    --cropper-resizer-width: 20px;
    --cropper-resizer-position: -10px;
  }
}