:root {
  /* --toggle-theme-button-width: 50px; */
  --toggle-theme-button-width: var(--edit-button-section-width, 50px);
}

.theme-switch-button {
  position: fixed;
  bottom: 0;
  right: 0;
  height: var(--toggle-theme-button-width) !important;
  width: var(--toggle-theme-button-width);
  margin: var(--app-gap);
  color: var(--text-translucent);
  background-color: var(--background-translucent);
  border-radius: 50%;
  border-width: 0px;
  cursor: pointer;

  transition: color 175ms;
  transition: background-color 175ms;
}

.theme-switch-button:hover {
  color: var(--text);
  background-color: var(--background)
}