:root {
  --app-gap: 10px; /* Gap between different sections of the page. */
  --edit-button-section-width: 50px;
  --file-input-button-width: 88px;
  --primary-button-padding: 16px;
}

.App {
  display: grid;
  /* grid-template-columns: var(--edit-button-section-width) repeat(2, 1fr); */
  grid-template-columns: repeat(2, 1fr);
  gap: var(--app-gap);
  padding: var(--app-gap);
  height: 100vh;
  position: relative;
  padding-left: calc(2 * var(--app-gap) + var(--edit-button-section-width));
}

.primary-button {
  background-color: var(--primary);
  color: var(--text);
  border-radius: var(--button-radius);
  border-width: 0px;
  cursor: pointer;
  padding: 0px var(--primary-button-padding);
}

.primary-button:disabled {
  background-color: var(--primary-disabled);
  color: var(--text-disabled);
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .App {
    /* grid-template-columns: 1fr;
    grid-template-rows: var(--edit-button-section-width) 100% 100%; */
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    padding-left: var(--app-gap);
    padding-top: calc(2 * var(--app-gap) + var(--edit-button-section-width));
  }
}