:root {
  --app-gap: 10px;
  --topbar-height: 25px;
  --edit-button-section-width: 50px;

  --toggle-theme-button-width: 50px;
  --file-input-button-width: 88px;

  --edit-button-radius: 5px;
  --topbar-button-radius: 5px;
  --section-radius: 10px;

  --primary-button-padding: 16px;
}

.App {
  display: grid;
  grid-template-columns: var(--edit-button-section-width) repeat(2, 1fr);
  gap: var(--app-gap);
  padding: var(--app-gap);
  height: 100vh;
  position: relative;
}

.theme-switch-button {
  position: absolute;
  top: 0;
  right: 0;
  height: var(--toggle-theme-button-width) !important;
  width: var(--toggle-theme-button-width);
  margin: var(--app-gap);
  color: var(--text-translucent);
  background-color: var(--background-translucent);
  border-radius: 50%;
  border-width: 0px;
  cursor: pointer;

  transition: color 175ms;
  transition: background-color 175ms;
}

.theme-switch-button:hover {
  color: var(--text);
  background-color: var(--background)
}

.App>* {
  height: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
  border-radius: var(--section-radius);
  max-height: calc(100vh - ( var(--app-gap) * 2 ));
}

.primary-button {
  background-color: var(--primary);
  color: var(--text);
  border-radius: var(--topbar-button-radius);
  border-width: 0px;
  cursor: pointer;
  padding: 0px var(--primary-button-padding);
}

.primary-button:disabled {
  background-color: var(--primary-disabled);
  color: var(--text-disabled);
  cursor: not-allowed;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: var(--topbar-height);
  gap: var(--app-gap);
}

.topbar-button {
  min-width: var(--edit-button-section-width);
  background-color: var(--primary);
  color: var(--text);
  border-radius: var(--topbar-button-radius);
  border-width: 0px;
  cursor: pointer;

  transition: background-color 175ms;
}

.topbar-button:hover {
  background-color: var(--primary-hover-dark);
}

.topbar-selector {
  color: var(--text);
  background-color: var(--background);
  border-radius: var(--topbar-button-radius);
  border-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  cursor: pointer;
}

/* Edit buttons */
.edit-buttons-section {
  display: flex;
  flex-direction: column;
  width: var(--edit-button-section-width);
  gap: var(--app-gap);
  background-color: var(--background);
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--app-gap);
}

/* Edit buttons END */

/* Image section */
.image-section {
  display: flex;
  flex-grow: 1;
}

.image-section-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image-preview {
  max-width: 100%;
  max-height: calc( 100vh - 64px );
}

.file-input-text-hidden{
  width: var(--file-input-button-width);
  overflow: hidden;
}

/* Image section END */

/* Generate image section */
.generate-image-section {
  display: flex;
  flex-grow: 1;
}

.generate-image-section-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Generate image section END */