@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

:root[data-theme="light"] {
  --text: rgb(8, 15, 23);
  --text-disabled: rgba(30, 45, 63, 0.75);
  --text-translucent: rgba(8, 15, 23, 0.25);
  --background: rgb(234, 237, 240);
  --background-transulcent: rgba(234, 237, 240, 0.25);
  --background-secondary: rgb(187, 199, 214);
  --primary: rgb(50, 132, 220);
  --primary-disabled: rgba(46, 98, 153, 0.75);
  --primary-hover-dark: rgb(45, 119, 199);
  --secondary: rgb(140, 190, 243);
  --secondary-hover-dark: rgb(121, 163, 209);
  --accent: rgb(59, 150, 247);
}

:root[data-theme="dark"] {
  --text: rgb(232, 239, 247);
  --text-disabled: rgba(187, 193, 199, 0.75);
  --text-translucent: rgba(232, 239, 247, 0.25);
  --background: rgb(15, 18, 21);
  --background-translucent: rgba(15, 18, 21, 0.25);
  --background-secondary: rgb(32, 38, 44);
  --primary: rgb(35, 117, 205);
  --primary-disabled: rgba(97, 149, 204, 0.75);
  --primary-hover-dark: rgb(31, 106, 187);
  --secondary: rgb(12, 62, 115);
  --secondary-hover-dark: rgb(10, 51, 95);
  --accent: rgb(8, 99, 196);
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 2px solid; */
  transition: background-color 175ms;
}

body {
  margin: 0;
  font-family: 'Poppins';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text);
  background-color: var(--background);
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}